<!doctype html>
<html lang="ru">{# TODO: подставлять нужный lang #}
  <head>
    <meta charset="utf-8">
    <title>{% if meta_title %}{{ meta_title }} | {% endif %}{{ config.APP_NAME }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{%- if meta_description -%}{{ meta_description }}{%- else -%}{{ config.APP_DESCRIPTION }}{%- endif -%}">
    <meta name="author" content="JokerInteractive">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicon.svg') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
  </head>

  <body id="top" data-bs-spy="scroll" data-bs-target="#navbarNavSub" data-bs-smooth-scroll="true" tabindex="0">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {# TODO: пересмотреть всплывающие сообщения #}
      {% if messages %}
        <link href="{{ url_for('static', filename='css/toastify.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/toastify.min.js') }}"></script>
        {% for status, message in messages %}
          <script>
            Toastify({
              text: '{{ message }}',
              duration: 7000,
              close: true,
              stopOnFocus: true,
              gravity: 'bottom',
              {% if status in ['danger', 'warning', 'success', 'info'] %}className: '{{ status }}',{% endif %}
            }).showToast();
          </script>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <main>
      <nav class="navbar navbar-expand-lg">
        <div class="container flex-wrap">
          <a class="navbar-brand" href="{{ url_for('core.index') }}">
            <i class="bi-back"></i>
            <span>MakeHTML</span>
          </a>

          <div class="d-lg-none ms-auto me-4">
            {% if current_user.is_authenticated %}
              <a class="navbar-icon bi-person-fill" href="{{ url_for('user.index') }}"><span class="visually-hidden">Личный кабинет</span></a>
            {% else %}
              <a class="navbar-icon bi-person smoothscroll" href="{{ url_for_security('login') }}"><span class="visually-hidden">Войти</span></a>
            {% endif %}
          </div>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('core.index') }}">Главная</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('courses.index') }}">Курсы</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('core.index') }}">Контакты</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Страницы</a>

                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ url_for('courses.index') }}">{{ _('Courses') }}</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('page.one', pagename='contacts') }}">{{ _('Contacts') }}</a></li>
                </ul>
              </li>
            </ul>
            <div class="d-none d-lg-block">
              {% if current_user.is_authenticated %}
                <a class="navbar-icon bi-person-fill" href="{{ url_for('user.index') }}"><span class="visually-hidden">Личный кабинет</span></a>
              {% else %}
                <a class="navbar-icon bi-person smoothscroll" href="{{ url_for_security('login') }}"><span class="visually-hidden">Войти</span></a>
              {% endif %}
            </div>
          </div>
          {% if sub_nav %}
            <div class="sub-nav d-none d-lg-block w-100" id="navbarNavSub">
              <ul class="navbar-nav">
                {% for link in sub_nav %}
                  <li class="nav-item"><a class="nav-link click-scroll" href="{{ link.href }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </nav>

      {% if not index %}
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              {% if two_cols %}
                <div class="col-lg-6 col-12 mb-5">
                  <h1 class="text-white display-3">{{ title }}</h1>

                  <div class="d-flex align-items-center mt-5">
                    <a class="btn custom-btn custom-border-btn smoothscroll me-4" href="#detail">Подробнее</a>
                    {# <a class="custom-icon bi-bookmark smoothscroll" href="#top"></a> #}
                  </div>
                </div>

                <div class="col-lg-5 col-12">
                  <div class="topics-detail-block shadow-lg">
                    <img class="topics-detail-block-image bg-white img-fluid" src="{{ url_for('static', filename='images/anton03.jpg') }}">
                  </div>
                </div>
              {% else %}
                <div class="col-12">
                  {% if g.breadcrumbs %}
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a href="{{ url_for('core.index') }}">{{ _('Home') }}</a>
                        </li>
                        {% for link in g.breadcrumbs %}
                          {% if link.params %}
                            <li class="breadcrumb-item">
                              <a href="{{ url_for(link.controller, **link.params) }}">{{ link.title }}</a>
                            </li>
                          {% elif link.alias %}
                            <li class="breadcrumb-item">
                              <a href="{{ url_for('catalog.category', category_alias=link.alias) }}">{{ link.title }}</a>
                            </li>
                          {% elif link.controller %}
                            <li class="breadcrumb-item">
                              <a href="{{ url_for(link.controller) }}">{{ link.title }}</a>
                            </li>
                          {% else %}
                            <li class="breadcrumb-item active" aria-current="page">{{ link.title }}</li>
                          {% endif %}
                        {% endfor %}
                      </ol>
                    </nav>
                  {% endif %}
                  {% if title %}
                    <h1 class="text-white display-2">{{ title }}</h1>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </header>
      {% endif %}
      {% block content %}{% endblock content %}
    </main>

    <footer class="site-footer section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-12 mb-4 pb-2">
            <a class="navbar-brand mb-2" href="{{ url_for('core.index') }}">
              <i class="bi-back"></i>
              <span>MakeHTML</span>
            </a>
          </div>

          <div class="col-lg-3 col-md-3 col-5">
            <h6 class="site-footer-title mb-3">Навигация</h6>

            <ul class="site-footer-links">
              <li class="site-footer-link-item">
                <a href="{{ url_for('core.index') }}" class="site-footer-link">Главная</a>
              </li>
              <li class="site-footer-link-item">
                <a href="{{ url_for('courses.index') }}" class="site-footer-link">Курсы</a>
              </li>
              <li class="site-footer-link-item">
                <a href="#" class="site-footer-link">FAQs</a>
              </li>
              <li class="site-footer-link-item">
                <a href="#" class="site-footer-link">Контакты</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-4 col-7 mb-4 mb-lg-0">
            <h6 class="site-footer-title mb-3">{{ _('Contacts') }}</h6>

            <p class="mb-1">
              telegram:
              <a class="site-footer-link" href="https://t.me/makehtml" target="_blank">
                @makehtml
              </a>
            </p>

            <p class="mb-1">
              instagram:
              <a class="site-footer-link" href="https://instagr.am/makehtml" target="_blank">
                @makehtml
              </a>
            </p>

            <p>
              email:
              <a class="site-footer-link" href="mailto:info@makehtml.ru">
                info@makehtml.ru
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-5 col-12 mt-4 mt-lg-0 ms-auto">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">🇷🇺 Русский</button>

              <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button">🇺🇸 English</button></li>
                <li><button class="dropdown-item" type="button">🇮🇹 Italiano</button></li>
              </ul>
            </div>

            <p class="copyright-text mt-lg-5 mt-4">
              Copyright © {{ g.current_year }} MakeHTML<br>
              Сделано с <i class="bi-heart" aria-hidden="true"><span class="visually-hidden">любовью</span></i> командой <a class="site-footer-link" href="https://jokerinteractive.ru" target="_blank">JokerInteractive</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    {% block pre_js %}{% endblock pre_js %}
    <!-- JAVASCRIPT FILES -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {# <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script> #}
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    {% block js %}{% endblock js %}
    <script>
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(97789646, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        trackHash:true,
        ecommerce:"dataLayer"
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/97789646" style="position:absolute; left:-9999px;" alt=""></div></noscript>
  </body>
</html>
