{% extends "user/base.j2" %}

{% block user_content %}
  <h1>Список активных курсов</h1>
  {% if current_user.courses %}
    <div class="list-group mb-5">
      {% for course in current_user.courses %}
        <a class="list-group-item list-group-item-action" href="{{ url_for('user_courses.one', alias=course.alias) }}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ course.title }}</h5>
            <small>старт: {{ course.dt_start | humanize_dt }}</small>
          </div>
          <p class="mb-1">{{ course.description }}</p>
          <small>поток {{ course.batch }}</small>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>Пока у вас нет активных курсов.</p>
  {% endif %}
{% endblock user_content %}
