{% extends "user/base.j2" %}

{% block user_content %}
  <h1>Курс «{{ course.title }}»</h1>
  <p><em>Старт: {{ course.dt_start | format_dt(no_time=True) }} <small>({{ course.dt_start | humanize_dt }})</small></em></p>
  <p>{{ course.description }}</p>
  {% for week in course.weeks %}
    <h2>Неделя {{ loop.index }}: <small>{{ week.title }}</small></h2>
    <h6>{{ week.description }}</h6>
    <div class="row mb-4">
      {% for day in week.days %}
        {% set day_complete = day in current_user.days_complete %}
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <a class="custom-block shadow-lg w-100 {% if day.has_arrived %}bg-white{% else %}bg-dark-subtle{% endif %}" href="{{ url_for('user_courses.day', alias=course.alias, week_id=week.order, day_id=day.id) }}">
            {% if day_complete %}<span class="section-overlay"></span>{% endif %}
            <div class="d-flex gap-1 position-relative">
              <div>
                <h5 class="mb-2{% if day_complete %} text-white{% endif %}">{{ day.title }}</h5>
                <p class="mb-0{% if day_complete %} text-white{% endif %}">{{ day.description }}</p>
                {% if current_user.has_role('admin') %}
                  <p class="mt-2{% if day_complete %} text-white{% endif %}">
                    <small>
                      ord: {{ day.order }}<br>
                      num: {{ day.number }}<br>
                      has_arrived: {{ day.has_arrived }}<br>
                      is_complete: {{ day.is_complete }}<br>
                      scheduled_date: {{ day.scheduled_date }}<br>
                      timedelta: {{ day.timedelta }}<br>
                    </small>
                  </p>
                {% endif %}
              </div>
              <span class="badge bg-design rounded-pill ms-auto">{{ day.number or day.order }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock user_content %}
