{% extends "base.j2" %}
{% from 'macros/form.j2' import bs_btn, bs_text %}

{% block content %}
  <div class="container py-4">
    <section class="p-5 bg-body-tertiary border rounded-3">
      <h3 class="main__title">{{ _fsdomain('Resend confirmation instructions') }}</h3>
      <form class="form" action="{{ url_for_security('send_confirmation') }}" method="post" name="send_confirmation_form">
        {{ send_confirmation_form.hidden_tag() }}
        {{ bs_text(send_confirmation_form.email) }}
        {{ bs_btn(send_confirmation_form.submit) }}
      </form>
      <hr class="my-4">
      <nav class="nav">
        <a class="nav-link" href="{{ url_for_security('login') }}{%- if 'next' in request.args -%}?next={{ request.args.next|urlencode }}{%- endif -%}">{{ _fsdomain('Login') }}</a>
      </nav>
    </section>
  </div>
{% endblock content %}
