{% extends "base.j2" %}
{% from 'macros/form.j2' import bs_btn, bs_text %}

{% block content %}
  <div class="container py-4">
    <section class="p-3 p-sm-4 p-md-5 bg-body-tertiary border rounded-3">
      <h3 class="main__title">{{ _fsdomain('Register') }}</h3>
      {# <form class="form" action="{{ url_for('core.custom_register') }}" method="post" name="register_user_form" novalidate> #}
      <form class="form" action="{{ url_for_security('register') }}" method="post" name="register_user_form" novalidate>
        {{ register_user_form.hidden_tag() }}
        {{ bs_text(register_user_form.invitation) }}
        {{ bs_text(register_user_form.firstname) }}
        {{ bs_text(register_user_form.lastname) }}
        {{ bs_text(register_user_form.email) }}
        {% if config['SECURITY_USERNAME_ENABLE'] %}{{ bs_text(register_user_form.username) }}{% endif %}
        {{ bs_text(register_user_form.password) }}
        {% if register_user_form.password_confirm %}{{ bs_text(register_user_form.password_confirm) }}{% endif %}
        {{ bs_btn(register_user_form.submit) }}
      </form>
      <hr class="my-4">
      <nav class="nav">
        <a class="nav-link" href="{{ url_for_security('login') }}{%- if 'next' in request.args -%}?next={{ request.args.next|urlencode }}{%- endif -%}">{{ _fsdomain('Login') }}</a>
        {% if security.confirmable %}<a class="nav-link" href="{{ url_for_security('send_confirmation') }}">{{ _fsdomain('Confirm account') }}</a>{% endif %}
      </nav>
    </section>
  </div>
{% endblock content %}

{% block pre_js %}
  <script>
    const params = new URLSearchParams(document.location.search);
    const invitationCode = params.get('invitation') || params.get('code');
    if (invitationCode) {
      document.querySelector('#invitation').value = invitationCode;
    }
  </script>
{% endblock pre_js %}
