{% extends "base.j2" %}
{% from 'macros/form.j2' import base, btn %}

{% block content %}
  <section class="main__jumbotron">
    <h3 class="main__title">{{ _fsdomain('Reset password') }}</h3>
    <form class="form" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="post" name="reset_password_form">
      {{ reset_password_form.hidden_tag() }}
      {{ base(reset_password_form.password) }}
      {{ base(reset_password_form.password_confirm) }}
      {{ btn(reset_password_form.submit) }}
    </form>
    <footer class="main__footer">
      <p class="main__links">
        <a class="link" href="{{ url_for_security('login') }}{%- if 'next' in request.args -%}?next={{ request.args.next|urlencode }}{%- endif -%}">{{ _fsdomain('Login') }}</a>
      </p>
    </footer>
  </section>
{% endblock content %}
