{% extends "admin/base.j2" %}
{% from 'macros/form.j2' import bs_btn, bs_checkbox, bs_text, render_field_errors %}

{% block admin_content %}
  <h1>{{ title }}</h1>
  <form action="{{ action }}" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field_errors(form.csrf_token) }}
    {{ bs_text(form.title) }}
    {{ bs_text(form.alias) }}
    {{ bs_text(form.description) }}
    {{ bs_text(form.text, rows=5, floating_label=False) }}
    {{ bs_text(form.batch) }}
    {{ bs_text(form.order) }}
    {{ bs_checkbox(form.disabled) }}
    {{ bs_text(form.dt_start) }}
    <fieldset>
      <legend>{{ _('SEO') }}</legend>
      {{ bs_text(form.meta_title) }}
      {{ bs_text(form.meta_description) }}
    </fieldset>
    {{ bs_btn(form.submit_btn, value=btn_text) }}
  </form>
  {% if weeks %}
    <hr class="my-4">
    <p class="text-end mb-1">
      <button class="btn btn-primary" id="update_orders">{{ _('Update orders') }}</button>
    </p>
    {% for week in weeks %}
      <div class="d-flex gap-3 align-items-end">
        <div>
          <h3><code>[неделя {{ loop.index }}]</code> {{ week.title }} <a href="{{ url_for('admin_courses.edit_week', week_id=week.id) }}">{{ _('Edit') }}</a></h3>
          <p class="mb-0">{{ week.description }}</p>
        </div>
        {# <p>{{ week.number }}</p> #}
        <p class="ms-auto"><input class="form-control" data-week-id="{{ week.id }}" type="number" value="{{ week.order }}"></p>
      </div>
      {% for day in week.days %}
        <div class="d-flex gap-1 ps-3">
          <h5><code>[день {{ loop.index }}]</code> {{ day.title }} <a href="{{ url_for('admin_courses.edit_day', course_id=course_id, day_id=day.id) }}">{{ _('Edit') }}</a></h5>
          <span class="ms-auto"><input class="form-control form-control-sm" data-day-id="{{ day.id }}" type="number" value="{{ day.order }}"></span>
        </div>
      {% endfor %}
      <p class="ps-3"><a href="{{ url_for('admin_courses.add_day', course_id=course_id, week_id=week.id) }}">{{ _('Add day to this course to this week') }}</a></p>
    {% endfor %}
    <p><a href="{{ url_for('admin_courses.add_week', course_id=course_id) }}">{{ _('Add week to this course') }}</a></p>
  {% endif %}
  {% if tariffs %}
    <hr class="my-4">
    <h3>{{ _('Tariffs') }}</h3>
    {% for tariff in tariffs %}
      <p>{{ tariff.title }} — {{ tariff.price }} ₽</p>
    {% endfor %}
  {% endif %}
  <hr class="my-4">
  {% if users %}
    <h3>Пользователи на этом курсе и их прогресс:</h3>
    {% for user in users %}
      <hr style="color: var(--theme-bg-alt);">
      <div style="display: flex; flex-wrap: wrap; align-items: baseline; gap: 1rem; margin-bottom: 1rem;">
        <p class="mb-0" style="margin-right: auto;">
          <a class="link-offset-1 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ url_for('admin.user_info', user_id=user.id) }}">{{ user.username }} <small>({{ user.email }})</small> {{ user.firstname }} {{ user.lastname }}</a>
        </p>

        <div class="progress-bar2"><div style="transform: scaleX({{ user.progress }})"><!-- course progress --></div></div>
        {# TODO: refactor native progress to css
        <div class="progress-bar2">
          <label for="progress-bar-1">course progress</label>
          <progress id="progress-bar-1" value="70" max="100">70 %</progress>
          <output id="progress-output-1">70%</output>
        </div>
        #}
        <div style="width:100%">
          {% for week in weeks %}
            <h5>🧑‍💻 Неделя (id: {{ week.id }}) <small>{{ week.title }}</small></h5>
            <p>
              {% for day in week.days %}
                {% if day in user.days_complete %}✅{% else %}❌{% endif %}
                День (id: {{ day.id }}) <small>{{ day.title }}</small><br>
              {% endfor %}
            </p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <hr class="my-4">
  <nav class="nav">
    <a class="nav-link" href="{{ url_for('admin_courses.index') }}">{{ _('Back') }}</a>
    {% if course_id %}
      <a class="nav-link" href="{{ url_for('admin_courses.add_week') }}">{{ _('Add week') }}</a>
      <a class="nav-link" href="{{ url_for('admin_courses.add_day', course_id=course_id) }}">{{ _('Add day to this course') }}</a>
    {% endif %}
    <a class="nav-link" href="{{ url_for('admin_courses.add_tariff', course_id=course_id) }}">{{ _('Add tariff to this course') }}</a>
  </nav>

  {# TODO: refactor toast to base template #}
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">Обновлено успешно!</div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Закрыть"><span class="sr-only">Закрыть</span></button>
      </div>
    </div>
  </div>
{% endblock admin_content %}

{% block js %}
<script>
  const URL_TO_SEND = '{{ url_for('admin_courses.reorder') }}';
  const dayElements = document.querySelectorAll('[data-day-id]');
  const weekElements = document.querySelectorAll('[data-week-id]');
  const updateOrdersBtn = document.querySelector('#update_orders');

  const toastLiveExample = document.querySelector('#liveToast');
  const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);

  const makeSortingOrders = () => {
    return {
      days: [...dayElements].map((el) => ({id: +el.dataset.dayId, order: +el.value})),
      weeks: [...weekElements].map((el) => ({id: +el.dataset.weekId, order: +el.value})),
    }
  }

  const sendToServer = async () => {
    return await fetch(URL_TO_SEND, {
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      method: 'PATCH',
      body: JSON.stringify(makeSortingOrders())
    });
  };

  updateOrdersBtn.addEventListener('click', () => {
    sendToServer().then((resp) => resp.json()).then((data) => {
      console.info(data);
      if (data.success) {
        console.info('OK!');
        toastBootstrap.show();
      }
    }).catch(() => {
      console.error('Error!');
    });
  });
</script>
{% endblock js %}
