{% extends "base.j2" %}

{% set title = 'Курс <br> FullStack+ для начинающих' %}

{% block content %}
  <section class="topics-detail-section section-padding" id="topics-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 m-auto">
          <h3 class="mb-4">Как стать веб-разработчиком</h3>
          <p>Веб-разработчик разрабатывает сайт на языках HTML, CSS и JavaScript. Настраивает Git, чтобы работать в команде. Веб-разработчик разбирается и в устройстве сервера: может настроить Nginx и запрограммировать сервер на Python.</p>
          <p><strong>Веб-разработчики зарабатывают, создавая и поддерживая веб-сайты и приложения</strong>. Они могут работать как фрилансеры или быть штатными сотрудниками компаний. Доход веб-разработчиков зависит от многих факторов, включая их уровень навыков, опыт, тип работы (фронтенд, бэкенд, фуллстек) и регион, в котором они работают.</p>

          <blockquote>
            Чтобы стать веб-разработчиком, необходимо овладеть навыками программирования, такими как Python и JavaScript, и вёрстки HTML, CSS. Также полезными будут софт-скиллы, например, коммуникабельность и тайм-менеджмент.
          </blockquote>

          <div class="row my-4">
            <div class="col-lg-6 col-md-6 col-12">
              <img class="topics-detail-block-image img-fluid" src="{{ url_for('static', filename='images/businesswoman-using-tablet-analysis.jpg') }}">
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
              <img class="topics-detail-block-image img-fluid" src="{{ url_for('static', filename='images/colleagues-working-cozy-office-medium-shot.jpg') }}">
            </div>
          </div>

          <p>Средняя почасовая ставка для веб-разработчика среднего уровня составляет 50-60 долларов, а для начинающих — около 30-40 долларов в час. В год средняя зарплата для веб-разработчика среднего уровня составляет около 70-80 тысяч долларов (чистыми примерно 50-60 тысяч), а для начинающего — примерно 50-60 тысяч долларов (чистыми около 40-50 тысяч).</p>

          <h3 class="mb-4">Что вы получите</h3>
          <p>Одностраничный сайт — Лендинг — одностраничный сайт о продукте. Это самый простой и востребованный тип сайта. Необходимый минимум для разработчика — умение его реализовать. Мы проанализировали десятки лендингов и собрали канонический «одностраничник» из типовых элементов. Работая над ним, вы освоите базовые концепции и техники вёрстки. Именно они важнее всего на старте.</p>

          <h3 class="mb-4">Учим в собственной технологической среде</h3>
          <p>Погружение в IT-профессию подразумевает постоянный контакт с изучаемыми технологиями, выполнение практических заданий и общение с наставником. Для этого мы создали собственную среду обучения.</p>

          <ul>
            <li>
              <h4 class="mb-3">Живое общение с наставником</h4>
              <p>С первого дня вы учитесь на практике. Мы даём знания небольшими частями, которые нужно сразу применить, написав собственный код в онлайн-тренажёре.</p>
            </li>
            <li>
              <h4 class="mb-3">Самостоятельная работа</h4>
              <p>Тренажёр — это только часть обучения. Основные навыки вы приобретете по мере решения задач инструментами профессиональных разработчиков, а код-ревьюер даст вам обратную связь.</p>
            </li>
            <li>
              <h4 class="mb-3">Поддержка</h4>
              <p>Команда наставников и код-ревьюеров комментирует ваши работы, помогает разобраться в сложностях и обучает собственным профессиональным приёмам. Поддержка в чате доступна 24/7.</p>
            </li>
          </ul>

          <h3 class="mb-4">Первая неделя — бесплатно</h3>
          <p>Вы сможете попробовать себя в качестве веб-разработчика и обучиться азам профессии. Полученный опыт программирования позволит оценить реальные возможности, силу мотивации, и решить, нужно ли идти дальше.</p>

          <ul>
            <li>Доступ к первому курсу в тренажёре.</li>
            <li>Навыки и знания на 20 часов обучения.</li>
            <li>215 практических заданий.</li>
          </ul>

          <h2>Программа вашего обучения</h2>
          <pre>
  1. Основы HTML, CSS, JS: бесплатный вводный курс
  20 часов
  Курс посвящён базовому синтаксису HTML и CSS. Вы научитесь управлять цветом и шрифтами, размещать блоки на странице. Всё это — через практику: выполните в тренажёре 4 проекта. Вы напишете программу на языке JavaScript и сделаете страницу интерактивной.

  2. Расширенные возможности HTML и CSS
  60 часов
  В этом курсе вы расширите знания о семантике HTML-разметки, необходимых CSS-технологиях: flexbox, позиционирование элементов, работа с медиафайлами и виджетами, создание анимаций, работа с формами. Изучите методологию БЭМ — самый популярный в мире подход к организации кода.Современному сайту необходимо окружение из вспомогательного программного обеспечения. В этом курсе вы подключите к проекту систему контроля версий Git и научитесь работать в командной строке.
  + 1 проект в портфолио

  3. HTML и CSS. Работа с макетом, построение сложных сеток, адаптивная вёрстка
  30 часов
  На этом курсе вы узнаете, какие виды дизайн-макетов используют в работе профессионалы и как готовить макет к вёрстке. Научитесь выстраивать модульные сетки и группировать элементы технологией Grid Layout. Разберётесь, как создавать интерфейсы для разных устройств: настольных компьютеров, ноутбуков, планшетов, смартфонов.В этом курсе вы продолжите развивать инфраструктуру проекта: освоите инструменты коллективной работы, разместите сайт в интернете и научитесь публиковать изменения в нём из командной строки.
  + 1 проект в портфолио
  1 неделя каникул после курса

  4. Базовый JavaScript и работа с браузером
  90 часов
  Полноценное погружение в JavaScript. Исследуете типы данных, научитесь работать с условиями, циклами и функциями. Пустите в ход теорию в настоящем проекте — сделаете сайт интерактивным.

  5. JavaScript — непростые концепции
  90 часов
  Освоите сложные концепции языка: объектно-ориентированное программирование, асинхронность, замыкания и обмен данными с сервером. Вы познакомитесь с менеджером пакетов npm и научитесь добавлять зависимости в свой проект.
  + 1 проект в портфолио
  1 неделя каникул после курса

  6. Создание интерфейсов на React
  60 часов
  Вы изучите библиотеку React и её экосистему. Начнёте делать сайты, состоящие из компонентов, которые можно переиспользовать на разных страницах. Разработка сложных интерфейсов станет быстрее, а код будет проще поддерживать.
  + 1 проект в портфолио

  7. Основы бэкенд-разработки
  120 часов
  Создание веб-приложений требует взаимодействия с сервером. Вы изучите, как работает серверный JavaScript в Node.js, поднимете сервер и настроите его. В результате вы создадите серверный API для сайта, фронтенд которого уже разработали в предыдущем курсе.
  1 неделя каникул после курса

  8. Выпускной проект
  90 часов
  Итоговый выпускной проект, подтверждающий знания и умения. Во время работы над ним не нужно выполнять домашние задания и узнавать новую теорию из тренажёра — здесь всё, как в реальной жизни: задание, сроки, приобретённые навыки и поисковик.

  9. Карьерный трек (опционально)
  50 часов
  Параллельно основной программе вы можете пройти подготовку к получению джоб-оффера: научитесь составлять резюме, писать сопроводительные письма, делать портфолио и проходить собеседования. Реализуете проект для настоящего заказчика. А в конце — проделаете все шаги с нуля до трудоустройства: отклик на вакансию, тестовое задание, интервью и приглашение на работу.
          </pre>

          ОТЗЫВЫ!

        </div>
      </div>
    </div>
  </section>

  <section class="section-padding section-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-12">
          <img class="newsletter-image img-fluid" src="{{ url_for('static', filename='images/rear-view-young-college-student.jpg') }}" alt="">
        </div>

        <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
          <form class="custom-form subscribe-form" action="#" method="post" role="form">
            <h4 class="mb-4 pb-2">Записаться на курс</h4>
            <input class="form-control" type="email" name="subscribe-email" id="subscribe-email" placeholder="Email Address" required>

            <div class="col-lg-12 col-12">
              <button type="submit" class="form-control">Предзапись</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
