{% extends "base.j2" %}

{% block content %}
  <section class="hero-section d-flex justify-content-center align-items-center" id="start">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
          <h1 class="text-white text-center">Исследуй. Изучай. Наслаждайся</h1>
          <h6 class="text-center">сложно о веб-разработке простым языком</h6>

          <form class="custom-form mt-4 pt-2 mb-lg-0 mb-5" action="{{ url_for_security('register') }}" method="get">
            <div class="input-group input-group-lg flex-nowrap">
              <i class="input-group-text bi-shield-lock d-none d-md-block"></i>
              <input class="form-control" name="invitation" type="text" id="invitation" placeholder="Код приглашения">
              <button class="form-control" type="submit"><span class="d-none d-sm-block">Регистрация</span><i class="fs-2 bi bi-box-arrow-in-right d-block d-sm-none"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="featured-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center mb-4 mb-lg-2">
          <h2 class="text-light">Идёт набор:</h2>
        </div>
        <div class="col-lg-6 col-12 mb-4 mb-lg-0">
          <div class="custom-block bg-white shadow-lg">
            <a href="{{ url_for('page.one', pagename='details') }}">
              <div class="d-flex">
                <div>
                  <h5 class="mb-2">FullStack+ для начинающих</h5>
                  <p class="mb-0">Веб-разработчик разрабатывает сайт на языках HTML, CSS и JavaScript. Настраивает Git, чтобы работать в команде. Веб-разработчик разбирается и в устройстве сервера: может настроить Nginx и запрограммировать сервер на Python.</p>
                </div>

                <span class="badge bg-design rounded-pill ms-auto">14</span>
              </div>

              <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_Remote_design_team_re_urdx.png') }}" alt="">
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-12">
          <div class="custom-block custom-block-overlay">
            <div class="d-flex flex-column h-100">
              <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/businesswoman-using-tablet-analysis.jpg') }}" alt="">

              <div class="custom-block-overlay-text d-flex">
                <div>
                  <h5 class="text-white mb-2">Backend для верстальщиков</h5>
                  <p class="text-white">Разработка бэкенда требует знаний в области серверов, баз данных, программирования на высоком уровне и безопасности веб-приложений.</p>
                  <a class="btn custom-btn mt-2 mt-lg-3" href="topics-detail.html">Подробнее</a>
                </div>

                <span class="badge bg-finance rounded-pill ms-auto">25</span>
              </div>

              <div class="social-share d-flex">
                <p class="text-white me-4">мы в соцсетях:</p>

                <ul class="social-icon">
                  <li class="social-icon-item">
                    <a class="social-icon-link bi-telegram" target="_blank" href="https://t.me/MakeHTMLEducation"></a>
                  </li>
                  <li class="social-icon-item">
                    <a class="social-icon-link bi-youtube" target="_blank" href="https://www.youtube.com/@makehtml"></a>
                  </li>
                  <li class="social-icon-item">
                    <a class="social-icon-link bi-instagram" target="_blank" href="https://instagram.com/makehtml"></a>
                  </li>
                </ul>
              </div>

              <div class="section-overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="explore-section section-padding" id="explore">
    <div class="container">
      <div class="col-12 text-center">
        <h2 class="mb-4">Посмотреть темы</h2>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Дизайн</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Маркетинг</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Финансы</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">Музыка</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">Обучение</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Web Design</h5>
                          <p class="mb-0">Topic Listing Template based on Bootstrap 5</p>
                        </div>

                        <span class="badge bg-design rounded-pill ms-auto">14</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_Remote_design_team_re_urdx.png') }}" alt="">
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Graphic</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-design rounded-pill ms-auto">75</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_Redesign_feedback_re_jvm0.png') }}" alt="">
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Logo Design</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-design rounded-pill ms-auto">100</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/colleagues-working-cozy-office-medium-shot.png') }}" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Advertising</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-advertising rounded-pill ms-auto">30</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_online_ad_re_ol62.png') }}" alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Video Content</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-advertising rounded-pill ms-auto">65</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_Group_video_re_btu7.png') }}" alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Viral Tweet</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-advertising rounded-pill ms-auto">50</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_viral_tweet_gndb.png') }}" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Investment</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-finance rounded-pill ms-auto">30</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_Finance_re_gnv2.png') }}" alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                  <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/businesswoman-using-tablet-analysis.jpg') }}" alt="">

                      <div class="custom-block-overlay-text d-flex">
                        <div>
                          <h5 class="text-white mb-2">Finance2</h5>
                          <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint animi necessitatibus aperiam repudiandae nam omnis</p>
                          <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                        </div>

                        <span class="badge bg-finance rounded-pill ms-auto">25</span>
                      </div>

                      <div class="social-share d-flex">
                        <p class="text-white me-4">Share:</p>

                        <ul class="social-icon">
                          <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                          </li>
                          <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                          </li>
                          <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-pinterest"></a>
                          </li>
                        </ul>

                        <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                      </div>

                      <div class="section-overlay"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Composing Song</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-music rounded-pill ms-auto">45</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_Compose_music_re_wpiw.png') }}" alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Online Music</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-music rounded-pill ms-auto">45</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_happy_music_g6wc.png') }}" alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Podcast</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-music rounded-pill ms-auto">20</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_Podcast_audience_re_4i5q.png') }}" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab" tabindex="0">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Graduation</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-education rounded-pill ms-auto">80</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_Graduation_re_gthn.png') }}" alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Educator</h5>
                          <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                        </div>

                        <span class="badge bg-education rounded-pill ms-auto">75</span>
                      </div>

                      <img class="custom-block-image img-fluid" src="{{ url_for('static', filename='images/topics/undraw_Educator_re_ju47.png') }}" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="timeline-section section-padding" id="how">
    <div class="section-overlay"></div>

    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="text-white mb-4">Как это работает?</h2>
        </div>

        <div class="col-lg-10 col-12 mx-auto">
          <div class="timeline-container">
            <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
              <div class="list-progress">
                <div class="inner"></div>
              </div>
              <li>
                <h4 class="text-white mb-3">Найти код приглашения</h4>
                <p class="text-white">Уже получили код приглашения от меня или своих коллег по курсу? Те, кто уже зарегистрировался — может найти приглашения в личном кабинете. Раздаю коды в канале Telegram и других соцсетях, подписывайся!</p>

                <div class="icon-holder">
                  <i class="bi-search"></i>
                </div>
              </li>
              <li>
                <h4 class="text-white mb-3">Зарегистрируйся и активируй аккаунт</h4>
                <p class="text-white">Пройди процесс регистрации и активируй свой аккаунт, чтобы получить полный доступ к эксклюзивным материалам и начать обучение. После авторизации будет доступна детализированная программа обучения.</p>

                <div class="icon-holder">
                  <i class="bi-key"></i>
                </div>
              </li>
              <li>
                <h4 class="text-white mb-3">Выбери курс и запишись</h4>
                <p class="text-white">Проверь доступные курсы, выбери тот, который соответствует твоим интересам и целям, и запишись, чтобы начать обучение прямо сейчас. При оформлении — он появится у тебя в личном кабинете.</p>

                <div class="icon-holder">
                  <i class="bi-book"></i>
                </div>
              </li>
            </ul>
          </div>
        </div>
        {#
        <div class="col-12 text-center mt-5">
          <p class="text-white">Want to learn more? <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a></p>
        </div>
         #}
      </div>
    </div>
  </section>

  <section class="faq-section section-padding" id="faq">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <h2 class="mb-4">Частые вопросы и ответы на них</h2>
        </div>

        <div class="clearfix"></div>

        <div class="col-lg-5 col-12">
          <img class="img-fluid" src="{{ url_for('static', filename='images/faq-graphic.jpg') }}" alt="FAQs">
        </div>

        <div class="col-lg-6 col-12 m-auto">
          <div class="accordion" id="faqAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Подойдёт ли это мне?
                </button>
              </h2>

              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Курс идеально подходит для тех, кто никогда не программировал: главное — желание узнать внутреннюю кухню профессии и сделать первые шаги в программировании. Если есть знания, то это будет большим плюсом их систематизировать, углубить и обсудить их применимость.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Как обычно проходит обучение?
                </button>
              </h2>

              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Обучение включает как <strong>групповые занятия</strong>, где можно обмениваться идеями и получать поддержку от единомышленников, так и <strong>индивидуальные сессии</strong> для более глубокого понимания и проработки личных вопросов. Вся программа будет у вас перед глазами, чтобы вы могли сформировать целостное представление и ясно видеть путь к цели.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Как можно оплатить?
                </button>
              </h2>

              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  Вы можете оплатить курс как целиком, так и частями, используя банковский счёт или криптовалюту. Кстати, не пропустите наши розыгрыши в соцсетях — иногда можно выиграть доступ к обучению!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-section section-padding section-bg" id="contacts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12 text-center">
          <h2 class="mb-5">Контакты</h2>
        </div>

        <div class="col-lg-5 col-12 mb-4 mb-lg-0">
          {# <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.065641062665!2d-122.4230416990949!3d37.80335401520422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858127459fabad%3A0x808ba520e5e9edb7!2sFrancisco%20Park!5e1!3m2!1sen!2sth!4v1684340239744!5m2!1sen!2sth" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> #}
        </div>

        <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
          <h4 class="mb-3">Публичные группы и профили в соцсетях</h4>
          <p>Подключайтесь, там много интересного выкладываю:</p>
          <hr>
          <p class="d-flex align-items-center mb-1">
            <span class="me-2">Telegram:</span>
            <a class="site-footer-link" href="https://t.me/MakeHTMLEducation">@MakeHTMLEducation</a>
          </p>
          <p class="d-flex align-items-center mb-1">
            <span class="me-2">Instagram:</span>
            <a class="site-footer-link" href="https://instagram.com/makehtml">@MakeHTML</a>
          </p>
          <p class="d-flex align-items-center">
            <span class="me-2">YouTube:</span>
            <a class="site-footer-link" href="https://www.youtube.com/@makehtml">@MakeHTML</a>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 col-12 mx-auto">
          <h4 class="mb-3">Дополнительные контакты</h4>
          <p>По любым вопросам со мной можно связаться тут:</p>
          <hr>
          <p class="d-flex align-items-center mb-1">
            <span class="me-2">Telegram:</span>
            <a class="site-footer-link" href="https://t.me/makehtml">@MakeHTML</a>
          </p>
          <p class="d-flex align-items-center">
            <span class="me-2">Email:</span>
            <a class="site-footer-link" href="mailto:to@makehtml.ru">to@makehtml.ru</a>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block pre_js %}
  <script>
    const params = new URLSearchParams(document.location.search);
    const invitationCode = params.get('invitation') || params.get('code');
    if (invitationCode) {
      document.querySelector('#invitation').value = invitationCode;
    }
  </script>
{% endblock pre_js %}
