{% from "macros/svg.j2" import icon %}
{% extends "base.j2" %}
{% set is_admin = True %}

{% block head %}
  {# <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/style.css') }}"> #}
  {# <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/bootstrap.min.css') }}"> #}
  {# <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/codemirror.css') }}"> #}
  {# <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/codemirror-yeti.css') }}"> #}
  {# <script src="{{ url_for('static', filename='admin/js/libs/codemirror.js') }}"></script> #}
  {# <script src="{{ url_for('static', filename='admin/js/libs/codemirror-css.js') }}"></script> #}
  {# <script src="{{ url_for('static', filename='admin/js/libs/codemirror-htmlmixed.js') }}"></script> #}
  {# <script src="{{ url_for('static', filename='admin/js/libs/codemirror-matchtags.js') }}"></script> #}
  {# <script src="{{ url_for('static', filename='admin/js/libs/codemirror-xml.js') }}"></script> #}
  {# <script src="{{ url_for('static', filename='admin/js/libs/codemirror-xml-fold.js') }}"></script> #}
  {# <script src="{{ url_for('static', filename='admin/js/codemirror-activate.js') }}"></script> #}
{% endblock head %}

{% block content %}
  <div class="container py-4">
    <section class="p-5 bg-body-tertiary border rounded-3">
      {% block admin_content %}
      {% endblock admin_content %}
    </section>
  </div>
{% endblock content %}
