{% extends "admin/base.j2" %}

{% block admin_content %}
  <h2>{{ _('Users and roles') }}</h2>
  <table class="table table-striped table-hover">
    <tr>
      <th>ID</th>
      <th>{{ _('User') }}</th>
      {# <th>{{ _('Roles') }}</th> #}
      <th>{{ _('Date') }}</th>
      <th>{{ _('Was invited by') }}</th>
      <th>{{ _('Invitations left') }}</th>
    </tr>
    {% for user in users %}
      <tr>
        <td><a href="{{ url_for('admin.user_info', user_id=user.id) }}">{{ user.id }}</a></td>
        <td>
          email: {{ user.email }}<br>
          {% if user.confirmed_at %}
            {% set icon_name = 'user-active' %}
          {% else %}
            {% set icon_name = 'user' %}
          {% endif %}
          username: {#{ icon(icon_name, width=20, height=20) }#} {{ user.username }}<br>
          name: {{ user.firstname }} {{ user.lastname }}
        </td>
        {# <td>
          <a href="{{ url_for('admin.user_roles', user_id=user.id) }}">{{ _('change') }}</a>
          [
          {% for role in user.roles %}
            {{ role.name }}{% if not loop.last %},{% endif %}
          {% endfor %}
          ]
        </td> #}
        <td>
          registered: {{ user.create_datetime | datetimeformat }}<br>
          confirmed:
          {% if user.confirmed_at %}
            {{ user.confirmed_at | datetimeformat }}
          {% else %}
            {{ _('Not yet confirmed') }}
          {% endif %}
        </td>
        <td>
          {{ user.invited_by }}
        </td>
        <td><b>{{ user.invitations | count }}</b>{# : <small>{% for i in user.invitations %}{{ i.code }}{% if not loop.last %}, {% endif %}{% endfor %}</small> #}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock admin_content %}
