{% extends "base.j2" %}

{% block content %}
  <div class="container py-4">
    <section class="p-5 bg-body-tertiary border rounded-3">
      <h2>{{ _('Access denied') }}</h2>
      <p>{{ _('You probably do not have permission to view this page, if you think it is an error — contact your administrator.') }}</p>
      <div hidden>{{ error }}</div>
    </section>
  </div>
{% endblock content %}
