{% extends "base.j2" %}

{% block content %}
  <div class="container py-4">
    <section class="p-5 bg-body-tertiary border rounded-3">
      <h2>{{ _('Server error') }}</h2>
      <p>{{ _('Try to visit the site in a while, our experts are already working on solving the problem.') }}</p>
      <div hidden>{{ error }}</div>
    </section>
  </div>
{% endblock content %}
