{#
  Макросы формы

  base(field, bem_block='form', floating_label=True, show_errors=True)
  errors(field) — показ ошибок для поля
  form_errors(form) — показ ошибок для формы
#}
{% macro base(field, bem_block='form', floating_label=True, show_errors=True) -%}
  <div class="{{ bem_block }}__control{% if floating_label %} {{ bem_block }}__control--floating{% endif %}{% if field.errors %} form__control--error{% endif %}">
    {{ field(class='%s__text' % bem_block, placeholder=field.label.text, **kwargs) }}
    {{ field.label(class='%s__label' % bem_block) }}
    {% if show_errors %}{{ errors(field.errors) }}{% endif %}
  </div>
{%- endmacro %}

{% macro errors(field) %}
  {% if field and field.errors %}
    <div class="fs-div" id="{{ field.id if field else 'fs-field' }}">
      <ul class="form__error">
        {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro form_errors(form) %}
  {% if form.form_errors %}
    <div class="fs-div" id="fs-form-errors">
      <ul class="form__error">
        {% for error in form.form_errors %}<li class="fs-error-msg">{{ error }}</li>{% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro prop_next() -%}
  {% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}
{%- endmacro %}

{% macro errors(errors, bem_block='form') -%}
  {% if errors %}
    <ul class="{{ bem_block }}__errors">
      {% for error in errors %}<li>{{ error }}</li>{% endfor %}
    </ul>
  {% endif %}
{%- endmacro %}

{% macro checkbox(field, bem_block='form') -%}
  <div class="{{ bem_block }}__control {{ bem_block }}__control--checkbox{% if field.errors %} {{ bem_block }}__control--error{% endif %}">
    {{ field(class='%s__checkbox' % bem_block) }}
    {{ field.label(class='%s__label' % bem_block, **kwargs) }}
    {{ errors(field.errors) }}
  </div>
{%- endmacro %}

{% macro radio(field, bem_block='form') -%}
  <div class="{{ bem_block }}__control {{ bem_block }}__control--radio{% if field.errors %} {{ bem_block }}__control--error{% endif %}">
    {{ field(class='%s__radio' % bem_block) }}
    {{ field.label(class='%s__label' % bem_block, **kwargs) }}
    {{ errors(field.errors) }}
  </div>
{%- endmacro %}

{% macro btn(field, bem_block='form') %}
  {{ field(class='%s__submit' % bem_block, **kwargs)|safe }}
{% endmacro %}

{% macro raw(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}

{% macro prop_next() -%}
  {% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}
{%- endmacro %}

{% macro bs_base(field, floating_label=True) -%}
  <div class="mb-3{% if floating_label %} form-floating{% endif %}">
    {% set class_name = 'form-control is-invalid' if field.errors else 'form-control' %}
    {{ field(class=class_name, placeholder=field.label.text, **kwargs) }}
    {{ field.label(class='form-label') }}
    {{ errors(field.errors) }}
  </div>
{%- endmacro %}

{% macro bs_btn(field) %}
  {{ field(class='btn btn-primary', **kwargs)|safe }}
{% endmacro %}

{% macro bs_text(field, floating_label=True, no_mb=False, size=None) -%}
  <div class="{% if floating_label %}form-floating {% endif %}{% if not no_mb %}mb-3{% endif %}{% if field.errors %} has-validation{% endif %}">
    {% if field.errors %}
      {% set err_class = ' is-invalid' %}
    {% endif %}
    {% if size == 'sm' %}
      {% set size_class = ' form-control-sm' %}
    {% endif %}
    {{ field(class='form-control%s%s' % (err_class, size_class), placeholder=field.label.text, **kwargs) }}
    {{ field.label(class='form-label') }}
    {% if field.errors %}
      <div class="invalid-feedback">
        {% for error in field.errors %}{{ error }}{% endfor %}
      </div>
    {% endif %}
  </div>
{%- endmacro %}

{% macro bs_checkbox(field) -%}
  <div class="form-check">
    {% set error = ' is-invalid' if field.errors else '' %}
    {{ field(class='form-check-input%s' % error) }}
    {{ field.label(class='form-check-label', **kwargs) }}
    {{ errors(field.errors) }}
  </div>
{%- endmacro %}

{% macro text2(field) -%}
  <div class="form__block{% if field.errors %} form__block--error{% endif %}">
    {{ field.label(class='form__label') }}
    {% set class_name = 'form__input form__input--error' if field.errors else 'form__input' %}
    {{ field(class=class_name) }}
    {% if field.errors %}
      <div class="form__errors" hidden>
        ошибки:
        {% for error in field.errors %}[{{ error }}]{% endfor %}
      </div>
    {% endif %}
  </div>
{%- endmacro %}

{% macro render_text_with_errors(field, modifier=False) %}
  {% set class_name = 'form__text form__text--error' if field.errors else 'form__text' %}
  {% if modifier %}
    {% set class_name = class_name + ' form__text--' + modifier %}
  {% endif %}
  {% if field.errors %}
    <small class="form__error">
      {% for error in field.errors %}
        {{ error }}
        <br>
      {% endfor %}
    </small>
  {% endif %}
  {{ field(class=class_name, **kwargs)|safe }}
{% endmacro %}

{% macro raw_label(field) %}
  {{ field(**kwargs)|safe }}
  {{ field.label(class='form__label') }}
{% endmacro %}

{% macro render_field_with_errors(field) %}
  <div class="fs-div" id="{{ field.id|default('fs-field') }}">
    {{ field.label }} {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul>
        {% for error in field.errors %}<li class="fs-error-msg">{{ error }}</li>{% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field) %}
  <div class="fs-div" id="{{ field.id|default('fs-field') }}">{{ field(**kwargs)|safe }}</div>
{% endmacro %}

{% macro render_field_errors(field) %}
  {% if field and field.errors %}
    <div class="fs-div" id="{{ field.id if field else 'fs-field' }}">
      <ul>
        {% for error in field.errors %}<li class="fs-error-msg">{{ error }}</li>{% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
