{% extends "admin/base.j2" %}

{% block admin_content %}
  <h1>{{ _('Personal user area') }}</h1>
  <ul class="nav nav-pills">
    {% for link in user_links %}
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for(link.controller) }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="flex">
    <ul>
      <li><strong>{{ _('Username') }}</strong>: {{ current_user.username }}</li>
      <li><strong>{{ _('Email') }}</strong>: {{ current_user.email }}</li>
      <li><strong>{{ _('Date of registration') }}</strong>: {{ current_user.create_datetime | datetimeformat }}</li>
      <li><strong>{{ _('Date of activation') }}</strong>: {{ current_user.confirmed_at | datetimeformat }}</li>
      <li><strong>{{ _('Modification date') }}</strong>: {{ current_user.update_datetime | datetimeformat }}</li>
      <li>
        <strong>{{ _('Roles of user') }}</strong> ({{ current_user.roles | count }}):
        {% for role in current_user.roles %}
          {{ role.name }}{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>{{ _('Invitation code') }}</strong> ({{ invitations | count }}):
        {% if invitations | length %}
          <code><a href="{{ url_for('core.index', invitation=invitations[0].code, _external=True) }}">{{ invitations[0].code }}</a></code>
        {% else %}
          коды закончились
        {% endif %}
      </li>
    </ul>
  </div>
{% endblock admin_content %}
