{% extends "base.j2" %}

{% block content %}
  <div class="container-lg py-4">
    <section class="px-sm-3 pt-sm-3 px-md-4 pt-md-4 p-lg-5 p-xl-6 bg-body-tertiary border rounded-3">
      {% block user_content %}
      {% endblock user_content %}
    </section>
  </div>
{% endblock content %}
