{% extends "base.j2" %}

{% block content %}
  <div class="container py-4">
    <section class="p-5 bg-body-tertiary border rounded-3">
      {% block user_content %}
      {% endblock user_content %}
    </section>
  </div>
{% endblock content %}
