{% extends "base.j2" %}

{% block content %}
  <section class="topics-detail-section section-padding" id="detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 m-auto">
          <h1 class="mb-4">{{ title }}</h1>
          <p class="lead">Поток {{ course.batch }}</p>

          {{ course.text }}

          <h2 class="mb-3">Программа вашего обучения</h2>
          <div class="accordion mb-5" id="accordionPanelWeeks">
            {% for week in course.weeks %}
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelOpen-week-{{ week.id }}" aria-expanded="false" aria-controls="panelOpen-week-{{ week.id }}">
                    <h4>{{ week.title }} <mark>(неделя {{ loop.index }})</mark></h4>
                  </button>
                </h2>
                <div id="panelOpen-week-{{ week.id }}" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p class="display-6">{{ week.description }}</p>
                    {% if current_user.is_authenticated %}
                      <table class="table table-bordered table-hover table-striped">
                        {% for day in week.days %}
                          <tr>
                            <th>День {{ loop.index }}</th><th>{{ day.title }}</th>
                          </tr>
                          {% if day.description %}
                            <tr><td colspan="2">{{ day.description }}</td></tr>
                          {% endif %}
                        {% endfor %}
                      </table>
                    {% else %}
                      <p><em>Интересно, что вас ждет на курсе более подробно? Маленький спойлер: всё разбито по дням и по полочкам! <a href="{{ url_for('security.login') }}">Авторизуйтесь</a>, и полная программа по дням откроется прямо перед вами 😉</em></p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="enroll" class="section-padding section-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-12">
          <img class="newsletter-image img-fluid" src="{{ url_for('static', filename='images/anton01.jpg') }}" alt="Готов попробовать?">
        </div>

        {% if current_user.is_authenticated %}
          <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
            {% if already_enrolled %}
              <p>Вы уже зачислены на курс, проверьте подробности в <a class="link-offset-1 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ url_for("user_courses.index") }}">личном кабинете</a>.</p>
            {% else %}
              <form class="custom-form subscribe-form" action="{{ url_for('user_courses.enroll') }}" method="post">
                <h4 class="mb-4 pb-2">{{ _('Enroll in a course') }}</h4>
                <p>Интересно и хочется попробовать? Просто нажмите кнопку, и вы в деле!</p>
                <input type="hidden" name="course-id" id="course_id" value="{{ course.id }}">
                <div class="col-12">
                  <button class="form-control" type="submit">Попробовать</button>
                </div>
              </form>
            {% endif %}
          </div>
        {% else %}
          <div class="col-lg-5 col-12 d-flex justify-content-center align-items-center">
            <form class="custom-form subscribe-form" action="{{ url_for('courses.enroll') }}" method="post">
              <h4 class="mb-4 pb-2">{{ _('Enroll in a course') }}</h4>
              <p>
                {{ _('Give me your email or telegram and I\'ll send you the details. Or %(open)slog in%(close)s to your personal account and you can try it right away.',
                open='<a class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="%s">' % url_for_security('login'), close='</a>') }}
              </p>
              <input type="hidden" name="course-id" id="course_id" value="{{ course.id }}">
              <input class="form-control" type="email" name="contact-email" id="contact_email" placeholder="{{ _('Email Address') }}">
              <input class="form-control" type="text" name="contact-telegram" id="contact_telegram" placeholder="{{ _('Telegram') }}">

              <div class="col-12">
                <button class="form-control" type="submit">Попробовать</button>
              </div>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}
