{% extends "base.j2" %}

{% block content %}
  <section class="topics-detail-section section-padding" id="topics-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 m-auto">
          <h1 class="mb-4">{{ title }}</h1>
          <p class="lead">Поток {{ course.batch }}</p>

          {{ course.text }}

          <h2 class="mb-3">Программа вашего обучения</h2>
          <div class="accordion mb-5" id="accordionPanelWeeks">
            {% for week in course.weeks %}
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelOpen-week-{{ week.id }}" aria-expanded="false" aria-controls="panelOpen-week-{{ week.id }}">
                    <h4>{{ week.title }} <small>(неделя {{ loop.index }})</small></h4>
                  </button>
                </h2>
                <div id="panelOpen-week-{{ week.id }}" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p>{{ week.description }}</p>
                    <table class="table table-bordered table-hover table-striped">
                      {% for day in week.days %}
                        <tr>
                          <th>День {{ loop.index }}</th><th>{{ day.title }}</th>
                        </tr>
                        {% if day.description %}
                          <tr><td colspan="2">{{ day.description }}</td></tr>
                        {% endif %}
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding section-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-12">
          <img class="newsletter-image img-fluid" src="{{ url_for('static', filename='images/rear-view-young-college-student.jpg') }}" alt="">
        </div>

        {% if current_user.is_authenticated %}
          <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
            <form class="custom-form subscribe-form" action="#" method="post" role="form">
              <h4 class="mb-4 pb-2">{{ _('Enroll in a course') }}</h4>
              <p>Interested and want to try it? Click on "sign up".</p>
              <input type="hidden" name="course-id" id="course_id" value="{{ course.id }}">
              <div class="col-12">
                <button class="form-control" type="submit">{{ _('Sign up') }}</button>
              </div>
            </form>
          </div>
        {% else %}
          <div class="col-lg-5 col-12 d-flex justify-content-center align-items-center">
            <form class="custom-form subscribe-form" action="#" method="post" role="form">
              <h4 class="mb-4 pb-2">{{ _('Enroll in a course') }}</h4>
              <p>Give me your email or telegram and I'll send you the details. Or <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ url_for_security('login') }}">log in</a> to your personal account and you can try it right away.</p>
              <input type="hidden" name="course-id" id="course_id" value="{{ course.id }}">
              <input class="form-control" type="email" name="contact-email" id="contact_email" placeholder="{{ _('Email Address') }}">
              <input class="form-control" type="text" name="contact-telegram" id="contact_telegram" placeholder="{{ _('Telegram') }}">

              <div class="col-12">
                <button class="form-control" type="submit">{{ _('Sign up') }}</button>
              </div>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}
